/* line 7, scss/banner.scss */
.unslider .unslider-arrow {
  background: #343434;
  bottom: 50%;
  color: #fefefe;
  font-size: 0.75em;
  letter-spacing: 0.15em;
  padding: 1.5em;
  text-transform: uppercase;
  z-index: 20;
}
/* line 17, scss/banner.scss */
.unslider .unslider-arrow.prev {
  left: 0;
}
/* line 21, scss/banner.scss */
.unslider .unslider-arrow.next {
  right: 0;
}
/* line 25, scss/banner.scss */
.unslider .unslider-arrow:hover {
  background: #fefefe;
  color: #343434;
}
/* line 31, scss/banner.scss */
.unslider .unslider-nav {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 37, scss/banner.scss */
.unslider .unslider-nav ol {
  background: #fefefe;
  display: inline-block;
  padding: 1em;
  position: relative;
  z-index: 20;
}
/* line 44, scss/banner.scss */
.unslider .unslider-nav ol li {
  border-color: #343434;
}
/* line 47, scss/banner.scss */
.unslider .unslider-nav ol li.unslider-active {
  background: #343434;
}
