/* line 6, scss/defaults.scss */
.multibanners {
  overflow: hidden;
}
/* line 9, scss/defaults.scss */
.multibanners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 14, scss/defaults.scss */
.multibanners ul li {
  overflow: hidden;
  position: relative;
}
/* line 18, scss/defaults.scss */
.multibanners ul li img {
  height: auto;
  max-width: 100%;
  min-width: 100%;
}
/* line 24, scss/defaults.scss */
.multibanners ul li .banner-content {
  background: rgba(52, 52, 52, 0.5);
  bottom: 0;
  color: #fefefe;
  left: 0;
  padding: 2em 4em;
  position: absolute;
  z-index: 10;
}
@media (max-width: 960px) {
  /* line 24, scss/defaults.scss */
  .multibanners ul li .banner-content {
    padding: 1em 2em;
  }
}
/* line 37, scss/defaults.scss */
.multibanners ul li .banner-content .field--name-name {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  /* line 37, scss/defaults.scss */
  .multibanners ul li .banner-content .field--name-name {
    font-size: 1.75em;
  }
}
