/* line 6, scss/defaults.scss */
.multibanner {
  overflow: hidden;
}
/* line 9, scss/defaults.scss */
.multibanner .banner-wrapper {
  position: relative;
}
/* line 12, scss/defaults.scss */
.multibanner .banner-wrapper img {
  height: auto;
  max-width: 100%;
  min-width: 100%;
}
/* line 18, scss/defaults.scss */
.multibanner .banner-wrapper .banner-content {
  background: rgba(52, 52, 52, 0.5);
  bottom: 0;
  color: #fefefe;
  padding: 2em 4em;
  position: absolute;
  right: 0;
  z-index: 10;
}
@media (max-width: 960px) {
  /* line 18, scss/defaults.scss */
  .multibanner .banner-wrapper .banner-content {
    padding: 1em 2em;
  }
}
/* line 31, scss/defaults.scss */
.multibanner .banner-wrapper .banner-content .field--name-name {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  /* line 31, scss/defaults.scss */
  .multibanner .banner-wrapper .banner-content .field--name-name {
    font-size: 1.75em;
  }
}
