/* line 11, scss/flex.scss */
.multibanners-type-flex ul li {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGMzMGZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY5NDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #1e5799), color-stop(50%, #dc30ff), color-stop(100%, #ff9400));
  background-image: -moz-linear-gradient(top, #1e5799, #dc30ff, #ff9400);
  background-image: -webkit-linear-gradient(top, #1e5799, #dc30ff, #ff9400);
  background-image: linear-gradient(to bottom right, #1e5799, #dc30ff, #ff9400);
  float: left;
}
/* line 15, scss/flex.scss */
.multibanners-type-flex ul li img {
  min-width: 100.11111%;
  max-width: 100.11111%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 24, scss/flex.scss */
.multibanners-type-flex ul li .banner-content .banner-content-inner {
  padding: 2em;
}
/* line 27, scss/flex.scss */
.multibanners-type-flex ul li .banner-content .banner-content-inner .field--name-name {
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 40, scss/flex.scss */
.multibanners-type-flex.multibanners-count-1 ul li {
  float: none;
  width: 100%;
}
/* line 50, scss/flex.scss */
.multibanners-type-flex.multibanners-count-2 ul li, .multibanners-type-flex.multibanners-count-4 ul li {
  width: 50%;
}
@media (max-width: 1000px) {
  /* line 50, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-2 ul li, .multibanners-type-flex.multibanners-count-4 ul li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 50, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-2 ul li, .multibanners-type-flex.multibanners-count-4 ul li {
    width: 100%;
  }
}
/* line 69, scss/flex.scss */
.multibanners-type-flex.multibanners-count-3 ul li, .multibanners-type-flex.multibanners-count-6 ul li, .multibanners-type-flex.multibanners-count-9 ul li {
  width: 33.33333%;
}
@media (max-width: 1000px) {
  /* line 69, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-3 ul li, .multibanners-type-flex.multibanners-count-6 ul li, .multibanners-type-flex.multibanners-count-9 ul li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 69, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-3 ul li, .multibanners-type-flex.multibanners-count-6 ul li, .multibanners-type-flex.multibanners-count-9 ul li {
    width: 100%;
  }
}
/* line 87, scss/flex.scss */
.multibanners-type-flex.multibanners-count-5 ul li, .multibanners-type-flex.multibanners-count-8 ul li {
  width: 25%;
}
@media (max-width: 1000px) {
  /* line 87, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-5 ul li, .multibanners-type-flex.multibanners-count-8 ul li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 87, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-5 ul li, .multibanners-type-flex.multibanners-count-8 ul li {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  /* line 106, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-3 ul li.banner-count-1 {
    width: 66.66667%;
  }
}
@media (max-width: 1000px) {
  /* line 106, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-3 ul li.banner-count-1 {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  /* line 125, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-5 ul li.banner-count-1 {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  /* line 125, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-5 ul li.banner-count-1 {
    width: 100%;
  }
}
/* line 142, scss/flex.scss */
.multibanners-type-flex.multibanners-count-7 ul li {
  width: 20%;
}
@media (max-width: 1000px) {
  /* line 142, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-7 ul li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* line 142, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-7 ul li {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  /* line 154, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-7 ul li.banner-count-1 {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  /* line 154, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-7 ul li.banner-count-1 {
    width: 100%;
  }
}
@media (min-width: 500px) {
  /* line 177, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-3 ul li.banner-count-1 .banner-content .banner-content-inner .field--name-name, .multibanners-type-flex.multibanners-count-5 ul li.banner-count-1 .banner-content .banner-content-inner .field--name-name, .multibanners-type-flex.multibanners-count-7 ul li.banner-count-1 .banner-content .banner-content-inner .field--name-name {
    font-size: 2.75em;
  }
}
@media (max-width: 1000px) {
  /* line 189, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-9 ul li.banner-count-1 {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  /* line 196, scss/flex.scss */
  .multibanners-type-flex.multibanners-count-9 ul li.banner-count-1 .banner-content .banner-content-inner .field--name-name {
    font-size: 2em;
  }
}
