// Multibanner sliding banners

@import "variables";

.unslider {
  position: relative;

  .unslider-arrow {
    background: $darkest;
    bottom: percentage(1/2);
    color: $lightest;
    font-size: 0.75em;
    letter-spacing: 0.15em;
    padding: 1.5em;
    text-transform: uppercase;
    z-index: 20;

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }

    &:hover {
      background: $lightest;
      color: $darkest;
    }
  }

  .unslider-nav {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    ol {
      background: $lightest;
      display: inline-block;
      padding: 1em;
      position: relative;
      z-index: 20;

      li {
        border-color: $darkest;

        &.unslider-active {
          background: $darkest;
        }

      }

    }

  }

}

.banner-wrapper.banner-banner {
  .banner-content {
    text-align: right;
  }
}