// Multibanner video banners

@import "breakpoint";
@import "variables";

.multibanners-type-video {

  li {
    float: left;

    .banner-content {
      width: 100%;
    }

  }

  &.multibanners-count-1 {

    li {
      float: none;
      width: 100%;
    }

  }

  &.multibanners-count-2,
  &.multibanners-count-4 {

    li {
      width: percentage(1/2);
    }

  }

  &.multibanners-count-3,
  &.multibanners-count-6,
  &.multibanners-count-9 {

    li {
      width: percentage(1/3);
    }

  }

  &.multibanners-count-5 {

    li {
      width: percentage(1/4);
    }

  }

  &.multibanners-count-7 {

    li {
      width: percentage(1/5);
    }

  }

  &.multibanners-count-8 {

    li {
      width: percentage(1/4);
    }

  }

  &.multibanners-count-2,
  &.multibanners-count-3,
  &.multibanners-count-4,
  &.multibanners-count-5,
  &.multibanners-count-6,
  &.multibanners-count-7,
  &.multibanners-count-8,
  &.multibanners-count-9 {

    li {
      @include breakpoint(max-width 960px) {
        width: percentage(1/2);
      }

      @include breakpoint(max-width 480px) {
        width: percentage(1);
      }

    }

  }

  &.multibanners-count-5 {

    li {

      &.banner-count-1 {
        @include breakpoint(min-width 960px) {
          width: percentage(1/2);
        }

        @include breakpoint(max-width 960px) {
          width: 100%;
        }
      }

    }

  }

  &.multibanners-count-7 {

    li {

      &.banner-count-1 {
        @include breakpoint(min-width 960px) {
          width: percentage(1/2.5);
        }

        @include breakpoint(max-width 960px) {
          width: 100%;
        }
      }

    }

  }

}
