<div{{ attributes.addClass('banner') }}>
  {% if content.name %}
    {{ content.name }}
  {% endif %}
  {% if content.field_banner_image %}
    {{ content.field_banner_image }}
  {% endif %}
  {% if content.user_id %}
    {{ content.user_id }}
  {% endif %}
</div>