{#
/**
 * @file banner.html.twig
 * Default theme implementation to present Banner data.
 *
 * This template is used when viewing Banner pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_banner()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('banner') }}>
  {% if content.name %}
    {{ content.name }}
  {% endif %}
  {% if content.field_banner_image %}
    {{ content.field_banner_image }}
  {% endif %}
</div>
