<div{{ attributes.addClass('banner') }}>
  {% if content.field_banner_image %}
    {{ content.field_banner_image }}
  {% endif %}
  <div class="banner-content">
    <div class="banner-content-inner">
    {% for key, value in content %}
      {% if key != 'field_banner_image' %}
        {{ value }}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>